


// ============================================================================
// icon.gl | Transformations
// ============================================================================

@use "variables" as *;

// icon.gl | Transformations | Rotate
// ============================================================================


/**
 * Mixin for rotating elements by a specified degree.
 *
 * @param {Number} [$degrees=0deg] - The degree to rotate the element.
 * @example
 * .icon-rotate { @include rotate(90deg); } // Rotates icon by 90 degrees
 */
@mixin rotate($degrees: 0deg) {
    transform: rotate($degrees);
}

/**
 * Predefined classes for rotating icons by standard angles.
 */
.#{$icongl_prefix}rotate_90  { @include rotate(90deg); }
.#{$icongl_prefix}rotate_180 { @include rotate(180deg); }
.#{$icongl_prefix}rotate_270 { @include rotate(270deg); }
// Extendable for dynamic rotation via CSS variable if needed
// .#{$icongl_prefix}rotate_by { @include rotate(var(--#{$fa-css-prefix}-rotate-angle, none)); }



// icon.gl | Transformations | Flip
// ============================================================================

/**
 * Mixin for flipping elements horizontally.
 */
@mixin flip_horizontal {
    transform: scale(-1, 1);
}

/**
 * Mixin for flipping elements vertically.
 */
@mixin flip_vertical {
    transform: scale(1, -1);
}

/**
 * Mixin for flipping elements both horizontally and vertically.
 */
@mixin flip_both {
    transform: scale(1, -1);
}

/**
 * Predefined classes for flipping icons in different directions.
 */
.#{$icongl_prefix}flip-horizontal { @include flip_horizontal; }

.#{$icongl_prefix}flip-vertical { @include flip_vertical; }

.#{$icongl_prefix}flip-both,
.#{$icongl_prefix}flip-horizontal.#{$icongl_prefix}flip-vertical { 
    @include flip_both; // Applies both horizontal and vertical flips
}