/// @mixin scroll_smooth
/// Enables smooth scrolling for a container.
/// @example scss - Usage
///   @include smooth-scroll;
@mixin scroll_smooth() {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}


/// @mixin scroll-snap
/// Sets up scroll snapping for a container.
/// @param {String} $type - The type of scroll snapping (default: y mandatory).
/// @param {String} $align - How items are aligned in the snap (default: start).
///@example scss - Usage
///   @include scroll-snap(x mandatory, center);
@mixin scroll-snap($type: y mandatory, $align: start) {
    scroll-snap-type: $type;
    scroll-snap-align: $align;
}
    