// ============================================================================
// Poster
// ============================================================================

////
///
/// Opacity Effects Mixin Module
/// ===========================================================================
///
/// This module ...
///
///
/// @group Effects
/// @author Scape Agency
/// @link https://move.gl
/// @since 0.1.0 initial release
/// @todo None
/// @access public
///
////


// ============================================================================
// Mixins
// ============================================================================
@use "../variables" as *;
@use "../mixins" as *;
// Base Opacity Mixin
// ----------------------------------------------------------------------------

@mixin set_opacity($opacity-level) {
    opacity: $opacity-level !important;
    visibility: if($opacity-level > 0, visible, hidden);
}


// Predefined Opacity Levels
// ----------------------------------------------------------------------------

.opacity_00 { @include set_opacity(0.0); }
.opacity_01 { @include set_opacity(0.1); }
.opacity_02 { @include set_opacity(0.2); }
.opacity_03 { @include set_opacity(0.3); }
.opacity_04 { @include set_opacity(0.4); }
.opacity_05 { @include set_opacity(0.5); }
.opacity_06 { @include set_opacity(0.6); }
.opacity_07 { @include set_opacity(0.7); }
.opacity_08 { @include set_opacity(0.8); }
.opacity_09 { @include set_opacity(0.9); }
.opacity_10 { @include set_opacity(1.0); }


// ----------------------------------------------------------------------------

$hover_opacity: 0.75;

// Opacity Transition Mixin
@mixin opacity_transition($duration: 0.3s, $hover_opacity: 0.75) {
    transition: opacity $duration ease;
    &:hover {
        opacity: $hover_opacity;
    }
}

// Example Usage of Opacity Transition
.opacity_hover {
    @include opacity_transition(0.3s, 0.75);
}
