{# ============================================================================
move.gl | Code Block Partial
============================================================================
Reusable code block component (stylescape ss-c-code-block)
============================================================================ #}

{%- macro code_block(code, language='javascript') -%}
<pre class="ss-c-code-block" data-language="{{ language }}"><code>{{ code | safe }}</code></pre>
{%- endmacro -%}
